.login {
  height: 100vh;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.login .box-left {
  background-color: #000;

  width: 35vw;
  height: 90vh;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 50px;

  border-radius: 15px;
}

.login .box-right {
  width: 35vw;
  height: 90vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-left: 50px;
}

.login .box-right img {
  margin-bottom: 50px;
}

.login .box-right .form {
  display: flex;
  flex-direction: column;

  width: 500px;

  margin-bottom: 30px;
}

.login .box-right .form .form-text {
  width: 100%;

  font-size: 25px;
  background: transparent;
  border-bottom: 1px solid;
}

.login .box-right .form div{
  margin: 0;
  display: flex;
  align-items: center;  
}

.login .box-right .form div input {
  margin: 0;
}

.login .box-right .form div span{
  font-size: 18px;
}

.login .box-right button {
  background-color: #000;

  height: 70px;
  width: 200px;

  font-size: 30px;
  font-weight: bold;
  color: #fff;

  border: 0;
  border-radius: 10px;

  transition: 300ms;

  margin-bottom: 30px;
}

.login .box-right button:hover {
  background-color: rgb(44, 44, 44);
}

@media screen and (max-width: 768px){
  .login .box-left {
    display: none;
  }

  .login .box-right {
    margin: 0;
  }

  .login .box-right .form { 
    width: 300px;
  }
}