.card {
  background-color: #000;
  color: #fff;
  
  display: flex;
  flex-direction: column;
  justify-content: center;  
  text-align: left;
  
  padding: 20px;
  margin: 20px;

  border-radius: 10px;

  height: 250px;
  min-width: 300px;
}

span {
  font-size: 32px;
}