.card {  
  background-color: #000;
  color: #fff;
  
  display: flex;
  flex-direction: column;
  justify-content: center;  
  text-align: left;
  
  padding: 20px;
  margin: 20px;

  border-radius: 10px;

  height: 250px;
  min-width: 300px;

  text-decoration: none;

  transition: 300ms;
}

span {
  font-size: 32px;
}

a.card:hover {
  transform:scale(1.05);  
}

.goInfo {
  text-decoration: none;
  position: fixed;
  right: 20px;
  bottom: 20px;

  background-color: #000;
  
  color: #fff;
  font-size: 40px;
  
  height: 70px;
  width: 70px;

  border-radius: 50%;
  border: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
.goInfo:hover {
  transition: 300ms;
  background-color: rgb(70, 69, 69);
}