.header {
  background-color: #000;

  height: 70px;
  
  padding: 40px 0;
}

.header div:first-child {  
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;

  margin: 0 100px;  
}

.header div a {
  display: flex;
}

.user {
  position: relative;
  cursor: pointer;

  display: flex;
  justify-content: center;
}

.cardHeader {
  position: absolute;  

  display: flex;
  flex-direction: column;
  
  background: #7c7c7c;   

  color: #fff;  
  
  top: 50px;  
  padding: 5px;
  border-radius: 6px;    
}

.cardHeader span {
  font-size: 18px;
  font-weight: bold;
  transition: 300ms;
}

.cardHeader span:hover {
  color: rgb(52, 255, 34);
}

@media screen and (max-width: 767px) {
  .header div:first-child {
    margin: 0;
  }
}