.header {
  background-color: #000;

  height: 70px;
  
  padding: 40px 0;
}

.header div {  
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;

  margin: 0 100px;  
}

.header div a {
  display: flex;
}

.user {
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 767px) {
  .header div {
    margin: 0;
  }
}